
<div class="box" style=" text-align:center; font-weight:1; background-color: black; color: white; border-top-left-radius: 0%; border-top-right-radius: 0%; font-size:xx-large;">ABOUT US</div>



<div class="container is-fluid">
    
    <section class="section"><div class="container has-text-centered">
        <h2 class="title">How our match selection works!</h2>
        <div class="columns is-multiline is-centered">
          <div class="column is-8 is-4-widescreen">
            <h4 class="title"><small class="number">1</small> Mark Attendence!</h4>
            <p>First step to start a match is to mark your attendence so that our Admins would know that you are online!</p>
          </div>
          <div class="column is-8 is-4-widescreen">
            <h4 class="title"><small class="number">2</small> Show Interest!</h4>
            <p>Then you have to show an interest in a game that you want to play and also the player that you want to play against!</p>
          </div>
          <div class="column is-8 is-4-widescreen">
            <h4 class="title"><small class="number">3</small> Team You up!</h4>
            <p>Then Admin looks over proper ranking and assign you a session either against a player or a coach based on your skills!</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="section"><div class="container has-text-centered">
        <h2 class="title">Our scoring system!</h2>
        <p class="subtitle">This is the scoring system that we believe in and stay true to!</p>
        <div class="columns">
          <div class="column is-4">
            <div class="level">
              <div class="level-item">
                <figure class="image is-128x128"><img class="is-rounded" src="assets/images/badminton.png" alt=""></figure></div>
            </div>
            <h5 class="title is-5">Beginner</h5>
            <p class="subtitle is-6">Rank 0</p>
            <p>The starting rank that a player should assign to themself and rank up as they play more!</p>
          </div>
          <div class="column is-4">
            <div class="level">
              <div class="level-item">
                <figure class="image is-128x128"><img class="is-rounded" src="assets/images/tennis.png" alt=""></figure></div>
            </div>
            <h5 class="title is-5">Medium</h5>
            <p class="subtitle is-6">Rank 1</p>
            <p>This rank means you are getting serios and moving up the ladder to play against more competitive players!</p>
          </div>
          <div class="column is-4">
            <div class="level">
              <div class="level-item">
                <figure class="image is-128x128"><img class="is-rounded" src="assets/images/ping-pong.png" alt=""></figure></div>
            </div>
            <h5 class="title is-5">Advance</h5>
            <p class="subtitle is-6">Rank 2</p>
            <p>Only the pros and prodigies can reach such level and keep on it!</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container is-fluid">
    
    <footer class="footer"><div class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item"><a class="title is-4" href="#"><img src="assets/images/teammeup-black.png" alt="TeamMeUp" width="200"></a></div>
          </div>
          <div class="level-right">Made Using:&nbsp;&nbsp;<a class="level-item" href="https://bulma.io/">Bulma</a><a class="level-item" href="https://unsplash.com/">Unsplash</a><a class="level-item" href="https://github.com/">Github</a><a class="level-item" href="http://freepik.com/">FreePik</a></div>
        </div>
        <hr><div class="columns">
          <div class="column">
            <div class="buttons"><a class="button" href="https://github.com/hassanShabbir1960/teammeupp">&nbsp;Code&nbsp;<i class="fas fa-code"></i></a></div>
          </div>
          <div class="column has-text-centered has-text-right-tablet">
            <p class="subtitle is-6">&copy; 2020 TeamMeUp. All right reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>