<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="box" style="text-align:center; font-weight:1; background-color: black; color: white; border-top-left-radius: 0%; border-top-right-radius: 0%; font-size:xx-large;">REGISTRATION</div>

<div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

<form [formGroup]="form" (submit)="submitRegistration()">
    <div>
    <strong style="color: #00d1b2;">Please select a Role before registring. We have added Admin here just so people can test it out.</strong>
    <br>
    <strong style="color: #00d1b2;">On actual app you cannot register an admin from frontend. Original app link: <a href="https://team-me-up.herokuapp.com/">Heroku app</a></strong>
    
    <div class="field" style="float: right;">
        <div class="control has-icons-left">
          <div class="select is-rounded is-primary">
            <select (change)="selectRole($event)">
              <option selected value=-1>Select a Role!</option>
              <option value="player">Player</option>
              <option value="coach">Coach</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="icon has-text-primary is-left">
            <i class="fas fa-user-circle"></i>
            <!-- <i class="fas fa-user"></i> -->
            <!-- <i class="fas fa-user-crown"></i> -->
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="name">Full name</label>
        <div [ngClass]="{'has-error': (form.controls.name.errors && form.controls.name.dirty), 'has-success': !form.controls.name.errors}">
            <div class="control has-icons-left">
        <input type="text" name="name" formControlName="name" class="input is-rounded" id="name" placeholder="Full name">
        <div class="icon has-text-primary is-left">
            <i class="fas fa-pen"></i>
          </div>
        </div>
        <!-- Validation -->
        <ul class="help is-danger">
            <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required</li>
        </ul>
        </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
            <div class="control has-icons-left">
            <input type="text" name="email" class="input is-rounded" autocomplete="off" placeholder="*Email" formControlName="email" />
            <div class="icon has-text-primary is-left">
                <i class="fas fa-envelope"></i>
              </div>
            </div>
            <!-- Validation -->
            <ul class="help is-danger">
                <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
                <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
                <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty) , 'has-success': !form.controls.username.errors }"></div>
        <div class="control has-icons-left">
            <input type="text" name="username" formControlName="username" class="input is-rounded" id="exampleInputUsername1" placeholder="Enter a valid username" />
            <div class="icon has-text-primary is-left">
                <i class="fas fa-address-card"></i>
              </div>
            </div>
            <!-- Validation -->
            <ul class="help is-danger">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
                <li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</li>
                <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
            <div class="control has-icons-left">
            <input type="password" name="password" class="input is-rounded" autocomplete="off" placeholder="*Password" formControlName="password" />
            <div class="icon has-text-primary is-left">
                <i class="fas fa-key"></i>
              </div>
            </div>
            <!-- Validation -->
            <ul class="help is-danger">
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
                <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must atleast contain one Uppercase letter, one special letter and numbers(and a length of minumum 8).</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
            <div class="control has-icons-left">
            <input type="password" name="confirm" class="input is-rounded" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
            <div class="icon has-text-primary is-left">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <!-- Validation -->
            <ul class="help is-danger">
                <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
                <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
            </ul>
        </div>
    </div>
    <input [disabled]="!form.valid || processing || !roleSelect" type="submit" class="button is-primary" value="Submit"/>

    <br>
    <br>
    <br>

  </form>
