<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="box" style=" text-align:center; font-weight:1; background-color: black; color: white; border-top-left-radius: 0%; border-top-right-radius: 0%; font-size:xx-large; text-transform:uppercase;">
    UPDATE PLAYER
    <br><div style="font-size:x-large">{{username}}</div>
</div>
<div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>

<form [formGroup]="form" (submit)="submitUpdatePlayer()">
    <div class="form-group">
        <label for="name" class="h4">Full name</label>
        <div [ngClass]="{'has-error': (form.controls.name.errors && form.controls.name.dirty), 'has-success': !form.controls.name.errors}" class="card mb-5">
        <input type="text" name="name" formControlName="name" class="form-control" id="name" placeholder="Full name">
        <!-- Validation -->
        <ul class="help-block">
            <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">This field is required</li>
        </ul>
        </div>
    </div>

  </form>

  <ng-container *ngIf="!lastLogin">
    <h4 >Select your Weekly schedule!</h4>
    <h5>Each slot is of 1 hour!</h5>
        <div class="card-block p-0">
            <div class="card mb-5">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:15%">Select</th>
                            <th style="width:25%">Day</th>
                            <th style="width:60">Time</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let day of weekdays;">
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (change)="selectDay(day.name)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td>
                                <h6>{{day.name}}</h6>
                            </td>
                            <td>
                                <ng-container *ngIf="day.status">
                                    <ngb-timepicker [(ngModel)]="day.time"></ngb-timepicker>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                    </ng-container>
                </table>
            </div>


            <h4 >Select your interests!</h4>
            <div class="card mb-5">
                <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">
                    
                    <thead class="thead-light">
                        <tr>
                            <th style="width:15%">Select</th>
                            <th style="width:25%">Name</th>
                            <th style="width:60%">Level</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let game of games;">
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (change)="selectGame(game.name)">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td>
                                <h6>{{game.name}}</h6>
                            </td>
                            <td>
                                <ng-container *ngIf="game.status">
                                    <div class="select is-rounded is-primary">
                                        <select name="difficulty" class="select-css2" (change)="selectLevel(game.name, $event)">
                                            <option value=-1>Select a Level!</option>
                                            <option value="beginner">Beginner</option>
                                            <option value="medium">Medium</option>
                                            <option value="advance">Advance</option>
                                        </select>
                                    </div>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>
                </table>
            </div>
        </div>

        <div class="outer">
            <div class="col-md-4">
                <form>
                    <h4>Select your level</h4>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="beginner" [(ngModel)]="playerRanking" name="gob" value="1" [checked]="true" 
                            (change)="setPlayerRanking($event.target.value)"/><span class="label-text">Beginner</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="medium" [(ngModel)]="playerRanking" name="gob" value="2" [checked]="true" 
                            (change)="setPlayerRanking($event.target.value)"/> <span class="label-text">Medium</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="advance" [(ngModel)]="playerRanking" name="gob" value="3" [checked]="true" 
                            (change)="setPlayerRanking($event.target.value)"/><span class="label-text">Advance</span>
                        </label>
                    </div>
                </form>
            </div>
            
            <div class="col-md-4">
                <form>
                    <h4>Select your opponent's level</h4>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="beginner" [(ngModel)]="opponentRanking" name="gob" value="1" [checked]="true" 
                            (change)="setOpponentRanking($event.target.value)"/><span class="label-text">Beginner</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="medium" [(ngModel)]="opponentRanking" name="gob" value="2" [checked]="true" 
                            (change)="setOpponentRanking($event.target.value)"/><span class="label-text">Medium</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="radio" value="advance" [(ngModel)]="opponentRanking" name="gob" value="3" [checked]="true" 
                            (change)="setOpponentRanking($event.target.value)"/><span class="label-text">Advance</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <br>
        
        <!-- <input [disabled]="!form.valid || processing " type="submit" class="button is-primary" value="Submit"/> -->
        <input [disabled]="!form.valid || processing || !selectSchedule || !selectPlayerRanking || !selectOpponentRanking || !selectInterests" type="submit" class="button is-primary" value="Submit" (click)="submitUpdatePlayer()"/>

        <br>
        <br>
    </div>

</ng-container>
